{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="title-row">Create Post</div>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    {{ form.title|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form.content|as_crispy_field }}
                </div>
            </div>


            {{ form.author.as_hidden }}

            <input class="btn btn-info" type="submit" name="Create Post">
        </div>
    </form>
{% endblock %}